<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        {{> header}}
        <p>This app uses data from mapbox.com and weatherbit.io</p>
        <img src="/img/weather.jpg" alt="" srcset="">
    </div>
    {{> footer}}
</body>
</html>